::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

#text {
  text-align: center;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 40px;
}

#text h1 {
  font-family: 'Tangerine', serif;
  display: block;
  font-size: 150px;
  color: #B12C1A;
  text-shadow: -1px -1px 3px #000, 2px 2px 0 #000;
}

@media screen and (max-width: 768px) {
  #text {
    top: 30px;
  }
  #text h1 {
    font-size: 82px;
  }
}

@media screen and (max-width: 435px) {
  #text {
    left: -10px;
    top: 20px;
  }
  #text h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 320px) {
  #text {
    left: -10px;
    top: 20px;
  }
}

body {
  background: url(../images/londonbg2crop.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body .main-content {
  padding: 25vh 12vw 5vh;
  overflow: scroll;
}

body .main-wrapper {
  border: 1px solid black;
  display: flex;
  height: 100%;
  padding: 20px 20px 40px 20px;
  background: #E6EFF1;
  border-radius: 1.5em;
}

body .main-wrapper hr {
  margin: 30px 0;
  border: 0;
  height: 2px;
  background: #969696;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.6));
}

body .main-wrapper aside {
  text-shadow: 0.25px 0.25px 0 #000;
  color: #302558;
  font-family: 'Vollkorn', serif;
  float: right;
  border: 1px solid black;
  height: 100%;
  width: 30%;
  padding: 20px;
  margin-top: 40px;
  text-align: justify;
  background: #C3DFDC;
  border-radius: 1em;
}

body .main-wrapper aside #aside-wrap {
  padding-top: 150px;
}

body .main-wrapper aside h4 {
  margin-bottom: 5px;
}

body .main-wrapper aside .profile {
  display: inline-block;
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px 10px 5px 0;
}

body .main-wrapper aside .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body .main-wrapper aside #facebook {
  position: relative;
  top: 0px;
  padding-left: 5px;
}

body .main-wrapper aside p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3;
}

body .main-wrapper aside #counter img {
  width: 100px;
}

body .main-wrapper article {
  text-shadow: 0.25px 0.25px 0 #000;
  font-family: 'Vollkorn', serif;
  float: left;
  padding: 5%;
  width: 65%;
  margin-right: 5px;
  color: #302558;
}

body .main-wrapper article .datum {
  opacity: 0.8;
}

body .main-wrapper article h3 {
  padding-bottom: 20px;
  padding-top: 20px;
}

body .main-wrapper article .entry {
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 5%;
}

body .main-wrapper article img {
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

body .main-wrapper article .estiKornel {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: rgba(186, 186, 186, 0.8);
  padding: 0.5em 1em;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 0 #000;
}

body .main-wrapper article .estiKornel:active {
  left: 1px;
  top: 2px;
  box-shadow: 0 0 0 #000;
}

@media screen and (max-width: 768px) {
  body .main-wrapper {
    display: block;
    overflow: scroll;
    position: relative;
    padding: 20px;
  }
  body .main-wrapper aside {
    position: absolute;
    left: 30px;
    top: 10px;
    height: 60px;
    width: 80%;
    padding: 2% 5%;
    overflow: auto;
  }
  body .main-wrapper aside h4 {
    display: none;
  }
  body .main-wrapper aside .profile {
    width: 60px;
    height: 60px;
  }
  body .main-wrapper aside a {
    font-size: 12px;
    padding: 0.2em 0.4em;
  }
  body .main-wrapper article {
    position: relative;
    top: 100px;
    width: 92%;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 435px) {
  body .main-content {
    padding-top: 80px;
  }
  body .main-wrapper {
    padding: 5px;
  }
  body .main-wrapper aside {
    top: -20px;
    left: 23px;
    font-size: 14px;
    font-weight: 500;
    width: 75%;
  }
  body .main-wrapper article {
    top: 80px;
    font-size: 14px;
    font-weight: 500;
  }
  body .main-wrapper article .datum {
    padding-top: 10px;
  }
  body .main-wrapper article h3 {
    padding: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  body .main-content {
    padding-top: 80px;
  }
  body .main-wrapper {
    padding: 5px;
  }
  body .main-wrapper article {
    top: 80px;
  }
  body .main-wrapper article .datum {
    padding-top: 10px;
  }
  body .main-wrapper article h3 {
    padding: 10px 0;
  }
}

.main-content .main-wrapper aside .slider-wrap {
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  height: 50px;
  float: left;
  background: #3069D1;
  position: relative;
  text-align: center;
  line-height: 2;
  color: white;
}

.main-content .main-wrapper aside .slider-wrap:hover {
  cursor: pointer;
}

.main-content .main-wrapper aside .slider-wrap .slider {
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  height: 100px;
  float: left;
  background: #0D3886;
  position: absolute;
  top: 0;
  left: 0;
}

.main-content .main-wrapper aside .slider-wrap .slider hr {
  margin: 0 auto;
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.6));
}

.main-content .main-wrapper aside .slider-wrap .slider p {
  font-size: 12px;
  letter-spacing: 0.2em;
  padding: 10px 0;
  margin: 0;
  color: white;
}

.main-content .main-wrapper aside .slider-wrap .slider p:hover {
  color: rgba(65, 255, 63, 0.2);
}

.work-belt2 {
  width: 200%;
  position: relative;
  transition: all 1s;
  color: white;
  padding: 0;
  overflow-x: hidden;
}

.work-belt2 .work-wrap, .work-belt2 .work-wrap2, .work-belt2 .work-wrap3 {
  width: 50%;
  float: right;
  display: none;
}

.work-belt2 .work-wrap .work-return, .work-belt2 .work-wrap2 .work-return, .work-belt2 .work-wrap3 .work-return {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  left: 75%;
  top: 175px;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 768px) {
  .work-belt2 .work-wrap .work-return, .work-belt2 .work-wrap2 .work-return, .work-belt2 .work-wrap3 .work-return {
    left: 72%;
    top: 155px;
  }
}

@media screen and (max-width: 425px) {
  .work-belt2 .work-wrap .work-return, .work-belt2 .work-wrap2 .work-return, .work-belt2 .work-wrap3 .work-return {
    left: 80%;
    top: 100px;
  }
}

@media screen and (max-width: 425px) {
  .work-belt2 .work-wrap .work-return, .work-belt2 .work-wrap2 .work-return, .work-belt2 .work-wrap3 .work-return {
    left: 75%;
  }
}

.work-belt2 .work-wrap .work-container, .work-belt2 .work-wrap2 .work-container, .work-belt2 .work-wrap3 .work-container {
  max-width: 60%;
  margin: 120px auto;
}

@media screen and (max-width: 768px) {
  .work-belt2 .work-wrap .work-container, .work-belt2 .work-wrap2 .work-container, .work-belt2 .work-wrap3 .work-container {
    margin: 100px auto;
  }
}

@media screen and (max-width: 425px) {
  .work-belt2 .work-wrap .work-container, .work-belt2 .work-wrap2 .work-container, .work-belt2 .work-wrap3 .work-container {
    margin: 50px auto;
    max-width: 85%;
  }
}

.work-belt2 .work-wrap .work-container .workplace, .work-belt2 .work-wrap2 .work-container .workplace, .work-belt2 .work-wrap3 .work-container .workplace {
  text-shadow: 0.5px 0.5px 0 #000;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  margin-right: 5px;
  color: white;
  border: 1px solid black;
  height: 100%;
  padding: 20px 40px 40px 40px;
  background: rgba(71, 69, 68, 0.6);
  border-radius: 1.5em;
}

@media screen and (max-width: 425px) {
  .work-belt2 .work-wrap .work-container .workplace, .work-belt2 .work-wrap2 .work-container .workplace, .work-belt2 .work-wrap3 .work-container .workplace {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 320px) {
  .work-belt2 .work-wrap .work-container .workplace, .work-belt2 .work-wrap2 .work-container .workplace, .work-belt2 .work-wrap3 .work-container .workplace {
    padding: 15px;
  }
}

.work-belt2 .work-wrap .work-container .workplace .datum, .work-belt2 .work-wrap2 .work-container .workplace .datum, .work-belt2 .work-wrap3 .work-container .workplace .datum {
  opacity: 0.8;
}

.work-belt2 .work-wrap .work-container .workplace h3, .work-belt2 .work-wrap2 .work-container .workplace h3, .work-belt2 .work-wrap3 .work-container .workplace h3 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.work-belt2 .work-wrap .work-container .workplace .entry, .work-belt2 .work-wrap2 .work-container .workplace .entry, .work-belt2 .work-wrap3 .work-container .workplace .entry {
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 5%;
}

.work-belt2 .work-wrap .work-container .workplace img, .work-belt2 .work-wrap2 .work-container .workplace img, .work-belt2 .work-wrap3 .work-container .workplace img {
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.work-belt2 .work-wrap .work-container .workplace .estiKornel, .work-belt2 .work-wrap2 .work-container .workplace .estiKornel, .work-belt2 .work-wrap3 .work-container .workplace .estiKornel {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: rgba(186, 186, 186, 0.8);
  padding: 0.5em 1em;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 0 #000;
}

.work-belt2 .work-wrap .work-container .workplace .estiKornel:active, .work-belt2 .work-wrap2 .work-container .workplace .estiKornel:active, .work-belt2 .work-wrap3 .work-container .workplace .estiKornel:active {
  left: 1px;
  top: 2px;
  box-shadow: 0 0 0 #000;
}
